@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --primary-color:#0088B5;
    --secondary-color:#ffffff;
    --tertiary-color: #00516c;
    --quarter-color: #4d708f;
}

html{
    scroll-behavior: smooth;
}